.menu>ul>li{
    list-style: none;
}

ul
   {
        list-style-type: none;
        padding: 0;
        margin: 0;
        border-right: 1px solid #ddd;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3); /* horizontal offset, vertical offset, blur radius, color */
      }
li{
    /* background-color: #f9f9f9; */
  padding: 4px;
}

ul li:hover {
    background-color: #f0f0f0; /* Changes background color on hover */
  }
