<footer>
    <div class="container-fluid first-block">
        <div class="row">
            <div class="col-12 col-sm-4 col-md-4 col-lg-4">
               <div class="aboutus">
                <div class="header">
                    <h3>About us</h3>

                </div>
                <div class="aboutus-content">
                    <p>This tutorial is designed for professional and Beginners</p>
                </div>
               </div>
            </div>
            <div class="col-12 col-sm-4 col-md-4 col-lg-4">
                <div class="letestTut">
                    <div class="lettut-header">
                        <h3>Latest Tutorials</h3>
                    </div>
                    <div class="let-tut-Links">
                        <div class="list-group">
                            <a routerLink="my-sql" class="list-group-item-action"
                                >My SQL</a
                            >
                            <a href="#" class="list-group-item-action"
                            >Item 2</a
                        >
                           
                        </div>
                        
                    </div>
                </div>
               
            </div>
            <div class="col-12 col-sm-4 col-md-4 col-lg-">
               <div class="Site-Links">
                <div class="link-header">
                    <h3>Important Links</h3>
                </div>
                <div class="site-links-link">
                    <!-- Hover added -->
                    <div class="list-group">
                        <a href="#" class="list-group-item-action"
                            >Links 1</a
                        >
                    </div>
                    
                </div>

               </div>
            </div>
          
        </div>
        
    </div>
    <div class="container-fluid seconnd-block">
        <div class="row">
            <div class="col-12 col-sm-6 col-md-6 col-lg-6">
        <div class="main-footer">
            <div class="copyright p-3">
                <p>Developer and Designed by CodeTutorials</p>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-6 col-lg-6">
        <div class="social-media float-en">
            <!-- Hover added -->
            <div class="list-group">
                <ul class="social-links">
                    <li><a href="http://"><span class="pi pi-facebook" style="font-size: 2rem"></span></a></li>
                    <li><a href="http://"><span class="pi pi-youtube" style="font-size: 2rem"></span></a></li>
                    <li><a href="http://"><span class="pi pi-twitter" style="font-size: 2rem"></span></a></li>
               
            </ul>
            </div>
            
        </div>
        </div>
    </div>
    </div>
</footer>